In [52]:
import pandas as pd
import time
from geopy.geocoders import Nominatim
geolocater = Nominatim(user_agent="suddenjan")

In [53]:
rental_rates=pd.read_csv("Resources/fy2024rent.csv", dtype=str)

rental_rates

,HUD Metro Fair Market Rent Area Name,CBSASub23,ZIPCode,erap_fmr_br0,erap_fmr_br1,erap_fmr_br2,erap_fmr_br3,erap_fmr_br4
0,"Abilene, TX MSA",METRO10180M10180,76437,$860,$876,"$1,117","$1,488","$1,789"
1,"Abilene, TX MSA",METRO10180M10180,76443,$860,$876,"$1,117","$1,488","$1,789"
2,"Abilene, TX MSA",METRO10180M10180,76464,$860,$876,"$1,117","$1,488","$1,789"
3,"Abilene, TX MSA",METRO10180M10180,76469,$860,$876,"$1,117","$1,488","$1,789"
4,"Abilene, TX MSA",METRO10180M10180,79501,$860,$876,"$1,117","$1,488","$1,789"
...,...,...,...,...,...,...,...,...
29403,Northern Mariana Islands,NCNTY69999N69999,99999,$652,$732,$962,"$1,356","$1,633"
29404,Puerto Rico HUD Nonmetro Area,NCNTY72923N72923,99999,$410,$421,$473,$667,$737
29405,"St. Croix Island, VI",NCNTY78010N78010,99999,"$1,084","$1,106","$1,351","$1,634","$1,799"
29406,"St. John Island, VI",NCNTY78020N78020,99999,"$1,441","$1,707","$2,122","$2,566","$2,826"
29407,"St. Thomas Island, VI",NCNTY78030N78030,99999,"$1,059","$1,249","$1,563","$1,890","$2,082"

In [54]:
rental_rates['ZIPCode'].head(50)

0     76437
1     76443
2     76464
3     76469
4     79501
5     79503
6     79504
7     79508
8     79510
9     79519
10    79520
11    79521
12    79525
13    79530
14    79533
15    79536
16    79541
17    79553
18    79560
19    79561
20    79562
21    79563
22    79566
23    79567
24    79601
25    79602
26    79603
27    79604
28    79605
29    79606
30    79607
31    79608
32    79699
33    00601
34    00602
35    00603
36    00604
37    00605
38    00610
39    00611
40    00612
41    00631
42    00641
43    00650
44    00662
45    00664
46    00669
47    00670
48    00676
49    00677
Name: ZIPCode, dtype: object

In [55]:

rental_rates=rental_rates.rename(columns={"HUD Metro Fair Market Rent Area Name": "City", "ZIPCode": "Zip Code", "erap_fmr_br0": "Studio", "erap_fmr_br1": "1Bed", "erap_fmr_br2": "2Bed", "erap_fmr_br3": "3Bed", "erap_fmr_br4": "4Bed"})
rental_rates = rental_rates[["City", "Zip Code", "Studio", "1Bed", "2Bed", "3Bed", "4Bed"]]
rental_rates

,City,Zip Code,Studio,1Bed,2Bed,3Bed,4Bed
0,"Abilene, TX MSA",76437,$860,$876,"$1,117","$1,488","$1,789"
1,"Abilene, TX MSA",76443,$860,$876,"$1,117","$1,488","$1,789"
2,"Abilene, TX MSA",76464,$860,$876,"$1,117","$1,488","$1,789"
3,"Abilene, TX MSA",76469,$860,$876,"$1,117","$1,488","$1,789"
4,"Abilene, TX MSA",79501,$860,$876,"$1,117","$1,488","$1,789"
...,...,...,...,...,...,...,...
29403,Northern Mariana Islands,99999,$652,$732,$962,"$1,356","$1,633"
29404,Puerto Rico HUD Nonmetro Area,99999,$410,$421,$473,$667,$737
29405,"St. Croix Island, VI",99999,"$1,084","$1,106","$1,351","$1,634","$1,799"
29406,"St. John Island, VI",99999,"$1,441","$1,707","$2,122","$2,566","$2,826"
29407,"St. Thomas Island, VI",99999,"$1,059","$1,249","$1,563","$1,890","$2,082"

In [56]:
rental_rates['Zip Code'].head(50)

0     76437
1     76443
2     76464
3     76469
4     79501
5     79503
6     79504
7     79508
8     79510
9     79519
10    79520
11    79521
12    79525
13    79530
14    79533
15    79536
16    79541
17    79553
18    79560
19    79561
20    79562
21    79563
22    79566
23    79567
24    79601
25    79602
26    79603
27    79604
28    79605
29    79606
30    79607
31    79608
32    79699
33    00601
34    00602
35    00603
36    00604
37    00605
38    00610
39    00611
40    00612
41    00631
42    00641
43    00650
44    00662
45    00664
46    00669
47    00670
48    00676
49    00677
Name: Zip Code, dtype: object

In [57]:
rental_rates['Country'] = 'USA'
rental_rates['Zip/Country'] = rental_rates['Zip Code'].astype(str) + ', ' + rental_rates['Country'].astype(str)
rental_rates = rental_rates[["City", "Zip/Country", "Studio", "1Bed", "2Bed", "3Bed", "4Bed"]]
rental_rates

,City,Zip/Country,Studio,1Bed,2Bed,3Bed,4Bed
0,"Abilene, TX MSA","76437, USA",$860,$876,"$1,117","$1,488","$1,789"
1,"Abilene, TX MSA","76443, USA",$860,$876,"$1,117","$1,488","$1,789"
2,"Abilene, TX MSA","76464, USA",$860,$876,"$1,117","$1,488","$1,789"
3,"Abilene, TX MSA","76469, USA",$860,$876,"$1,117","$1,488","$1,789"
4,"Abilene, TX MSA","79501, USA",$860,$876,"$1,117","$1,488","$1,789"
...,...,...,...,...,...,...,...
29403,Northern Mariana Islands,"99999, USA",$652,$732,$962,"$1,356","$1,633"
29404,Puerto Rico HUD Nonmetro Area,"99999, USA",$410,$421,$473,$667,$737
29405,"St. Croix Island, VI","99999, USA","$1,084","$1,106","$1,351","$1,634","$1,799"
29406,"St. John Island, VI","99999, USA","$1,441","$1,707","$2,122","$2,566","$2,826"
29407,"St. Thomas Island, VI","99999, USA","$1,059","$1,249","$1,563","$1,890","$2,082"

In [58]:
locations = rental_rates["Zip/Country"]
locations = [str(location) for location in locations]

In [40]:
processed_requests = 0
max_requests_before_pause = 3000

In [59]:
latitudes = []
longitudes = []

for location in locations:
    try:
        location_data = geolocater.geocode(location, timeout=None)
        if location_data:
            latitudes.append(location_data[0])
            longitudes.append(location_data[1])
#            print(f"Location: {location}")
 #           print(f"Latitude: {location_data.latitude}, Longitude: {location_data.longitude}")
  #          print()
        else:
            latitudes.append(None)
            longitudes.append(None)
            print(f"Geocoding failed for: {location}")
    except Exception as e:
        print(f"Error occurred for {location}: {e}")

# Add latitude and longitude columns to the DataFrame
rental_rates['Latitude'] = latitudes
rental_rates['Longitude'] = longitudes

Geocoding failed for: 87195, USA
Geocoding failed for: 79116, USA
Geocoding failed for: 79159, USA
Geocoding failed for: 99509, USA
Geocoding failed for: 99514, USA
Geocoding failed for: 99519, USA
Geocoding failed for: 99522, USA
Geocoding failed for: 99524, USA
Geocoding failed for: 99529, USA
Geocoding failed for: 78709, USA
Geocoding failed for: 78755, USA
Geocoding failed for: 78761, USA
Geocoding failed for: 78762, USA
Geocoding failed for: 78765, USA
Geocoding failed for: 78766, USA
Geocoding failed for: 78768, USA
Geocoding failed for: 78799, USA
Geocoding failed for: 93384, USA
Geocoding failed for: 93387, USA
Geocoding failed for: 93388, USA
Geocoding failed for: 70728, USA
Geocoding failed for: 83606, USA
Geocoding failed for: 98322, USA
Geocoding failed for: 06836, USA
Geocoding failed for: 06838, USA
Geocoding failed for: 06881, USA
Geocoding failed for: 06911, USA
Geocoding failed for: 06912, USA
Geocoding failed for: 05449, USA
Geocoding failed for: 05453, USA
Geocoding failed for: 62993, USA
Geocoding failed for: 89711, USA
Geocoding failed for: 89712, USA
Geocoding failed for: 89721, USA
Geocoding failed for: 61826, USA
Geocoding failed for: 60079, USA
Geocoding failed for: 60673, USA
Geocoding failed for: 60678, USA
Geocoding failed for: 95927, USA
Geocoding failed for: 95967, USA
Geocoding failed for: 45254, USA
Geocoding failed for: 77806, USA
Geocoding failed for: 97339, USA
Geocoding failed for: 75083, USA
Geocoding failed for: 75085, USA
Geocoding failed for: 76094, USA
Geocoding failed for: 76095, USA
Geocoding failed for: 61266, USA
Geocoding failed for: 50947, USA
Geocoding failed for: 79913, USA
Geocoding failed for: 79914, USA
Geocoding failed for: 79917, USA
Geocoding failed for: 79929, USA
Geocoding failed for: 79931, USA
Geocoding failed for: 79941, USA
Geocoding failed for: 79946, USA
Geocoding failed for: 79947, USA
Geocoding failed for: 79948, USA
Geocoding failed for: 79953, USA
Geocoding failed for: 79954, USA
Geocoding failed for: 79955, USA
Geocoding failed for: 79995, USA
Geocoding failed for: 72906, USA
Geocoding failed for: 72913, USA
Geocoding failed for: 72914, USA
Geocoding failed for: 72917, USA
Geocoding failed for: 72918, USA
Geocoding failed for: 93707, USA
Geocoding failed for: 93708, USA
Geocoding failed for: 93709, USA
Geocoding failed for: 93718, USA
Geocoding failed for: 93776, USA
Geocoding failed for: 93777, USA
Geocoding failed for: 93779, USA
Geocoding failed for: 93792, USA
Geocoding failed for: 93794, USA
Geocoding failed for: 49468, USA
Geocoding failed for: 06147, USA
Geocoding failed for: 06167, USA
Geocoding failed for: 71903, USA
Geocoding failed for: 77254, USA
Geocoding failed for: 77262, USA
Geocoding failed for: 77267, USA
Geocoding failed for: 77268, USA
Geocoding failed for: 77269, USA
Geocoding failed for: 77272, USA
Geocoding failed for: 77273, USA
Geocoding failed for: 77274, USA
Geocoding failed for: 77275, USA
Geocoding failed for: 77277, USA
Geocoding failed for: 77284, USA
Geocoding failed for: 77288, USA
Geocoding failed for: 77292, USA
Geocoding failed for: 77293, USA
Geocoding failed for: 77393, USA
Geocoding failed for: 77487, USA
Geocoding failed for: 77572, USA
Geocoding failed for: 77588, USA
Geocoding failed for: 64803, USA
Geocoding failed for: 96767, USA
Geocoding failed for: 96784, USA
Geocoding failed for: 64069, USA
Geocoding failed for: 64168, USA
Geocoding failed for: 47962, USA
Geocoding failed for: 86439, USA
Geocoding failed for: 89193, USA
Geocoding failed for: 68529, USA
Geocoding failed for: 72089, USA
Geocoding failed for: 72115, USA
Geocoding failed for: 75615, USA
Geocoding failed for: 90661, USA
Geocoding failed for: 90662, USA
Geocoding failed for: 90671, USA
Geocoding failed for: 90748, USA
Geocoding failed for: 90809, USA
Geocoding failed for: 90833, USA
Geocoding failed for: 91337, USA
Geocoding failed for: 91376, USA
Geocoding failed for: 91392, USA
Geocoding failed for: 91393, USA
Geocoding failed for: 91395, USA
Geocoding failed for: 91482, USA
Geocoding failed for: 91507, USA
Geocoding failed for: 91896, USA
Geocoding failed for: 91899, USA
Geocoding failed for: 92628, USA
Geocoding failed for: 92825, USA
Geocoding failed for: 92838, USA
Geocoding failed for: 92864, USA
Geocoding failed for: 79464, USA
Geocoding failed for: 93639, USA

In [140]:
location = geolocater.geocode("90008, USA")
print(location.latitude, location.longitude)

34.008551975051546 -118.33036155051546

In [ ]:
location = geolocater.geocode("Los Angeles, CA")
print(location.address)
print(location.latitude, location.longitude)

Los Angeles, California, United States
34.0536909 -118.242766